*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}/*Pokedexc*/

img{
  max-width: 100%;

}.pokedex1{
  margin-top: 20px;

}
.pokedinput , .pokedbtn,select{
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-family:inherit;
  height: 23px;
 
}.pokedbtn{
  background-color: orange;
  width: 100px;
  height: 28px;
  border-radius: 4px;
}.pokedbtn:hover{
  transform: scale(1.1);
}
ul{
  list-style: none;
}a{
  color: inherit;
  text-decoration: none;
}/**resset de welcome*/
body{

background-color: rgb(225, 211, 211);
  
}
.img2{
  display: flex;
  margin: 0 auto;
  
  position: relative;
  width: 370px;
  height: 90px;
  top: 100px;
}.btn1{
  
  width: 150px;
  height: 35px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: orangered;
  transition: .3s;
}.btn1:hover{
  transform: scale(1.1);
}.form1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: -20px;
  
}
.welcome{
 
  color: red;
  margin-top: 100px;
  display: flex;
  justify-content: center;
 

}.data{
  position: static;
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 40px;
}
.text1{
 
  width: 200px;
  height: 30px;
  outline: none;
 
  

}
.footer_father{
  
 position: relative;
 top: 210px;
 
 
  
}.footer_red{
  width: 100%;

  background-color: red;
  height: 60px;

}.footer_black{
  background-color: black;
  width: 100%;

  height: 31px;
}
.footer_circle_father{
  border-radius: 50%;
  
  float: right;
  top: 10px;
  margin-top: -35px;
  margin-right: 45%;
 
  border-radius: 50%;
}.footer_circle2{
  width: 20px;
  height: 20px;
  position: relative;
  top: 25px;
  margin-left: 5px;
  border: 12px;
  border-radius: 50%;
  background-color: black;
}.footer_circle1{
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  background-color: rgba(255, 244, 244, 0.981);
}
